<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing Up Success</title>
  </head>
  <body>
    <h1>Sign Up Success</h1>
    <p>Go To Login</p>
    <a href="localhost:3000/login">Login</a>
    <!-- redirecting to diff page -->
    <script>
      setTimeout(() => {
        window.location.href = "localhost:3000/login";
      }, 3000);
    </script>
  </body>
</html>
